<div class="container">
  <ng-container *ngIf="patient ; else noData">
    <h1>Historique de {{patient.firstName}}</h1>
  </ng-container>

  <ng-template #noData>Pas de données sur cet utilisateur</ng-template>

  <ng-container *ngIf="quizRecords">
    <div class="accordion" id="accordionExample">
      <ng-container *ngFor="let quizRecord of quizRecords | orderBy: 'id' : true">
        <div class="card">
          <div class="card-header" id="headingOne">
            <!--            <h2 class="mb-0">-->
            <button class="btn btn-link w-100" type="button" data-toggle="collapse"
                    [attr.data-target]="'#collapse' + quizRecord.id" aria-expanded="true" aria-controls="collapseOne">
              <div class="row justify-content-between">
                <div class="col-auto text-left font-weight-bold">
                  {{quizRecord.name}}
                </div>
                <div class="col-auto text-right">
                  <span class="badge badge-pill badge-primary">{{quizRecord.id | date:'medium'}}</span>
                </div>
              </div>
            </button>
            <!--            </h2>-->
          </div>

          <div id="collapse{{quizRecord.id}}" class="collapse" aria-labelledby="headingOne"
               data-parent="#accordionExample">
            <div class="card-body">

              <table class="table border">
                <thead>
                <tr>
                  <th scope="col">Question</th>
                  <th scope="col">Reponse donnée</th>
                  <th scope="col">Correcte</th>
                  <th scope="col">Corrigée?</th>
                </tr>
                </thead>
                <tbody>

                <ng-container *ngIf="quizRecord.records.length != 0 ; else noAnswer">

                  <ng-container *ngFor="let answer of quizRecord.records">
                    <tr>
                      <th scope="row">{{answer.question}}</th>
                      <td>{{answer.answer}}</td>
                      <td [colSpan]="answer.correct ? 2 : 1">
                        <ng-container *ngIf="answer.correct; else correct">
                          <div class="btn btn-success w-100 text-white"><i class="fas fa-check"></i></div>
                        </ng-container>
                        <ng-template #correct>
                          <div class="btn btn-danger w-100 text-white"><i class="fas fa-times"></i></div>
                        </ng-template>
                      </td>
                      <ng-container *ngIf="!answer.correct">
                        <ng-container *ngIf="answer.rectified; else noRectified">

                          <td>
                            <div class="btn btn-success w-100 text-white"><i class="far fa-thumbs-up"></i></div>
                          </td>
                        </ng-container>
                        <ng-template #noRectified>

                          <td>
                            <div class="btn btn-danger w-100 text-white"><i class="far fa-thumbs-down"></i></div>
                          </td>
                        </ng-template>
                      </ng-container>
                    </tr>
                  </ng-container>
                </ng-container>
                </tbody>
              </table>
              <ng-template #noAnswer>Aucune question répondue</ng-template>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
