@import '../../../styles/variables.scss';

.photoProfile {
  display: block;
  width: 8em;
  height: 8em;
  object-fit: cover;
  border-radius: 200px;
  border: 1px solid yellow;
}

#photoPatient {
  position: relative;
  width: 20%;
  float: right;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
}

.first-column{
  width: 80%;
  margin-left: 2em;
}

#info-patients {
  background-color: white;
  border: 1px solid #e3e3e3;
  border-radius: .5em;
  padding: 2em;
}

.btn-patients {
  width: 50% !important;
}

.clickable {
  cursor: pointer;
}

#info-patients {
  margin-right: 1.5em !important;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 8em;
  height: 8em;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  border-radius: 100px;
  cursor: pointer;
}

#photoPatient:hover .overlay {
  opacity: .85;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

h1 {
  font-family: Roboto, serif;
  font-size: 2.5rem;
  font-weight: lighter;
  color: #224656;
  margin: 0;
  text-align: center;
}

hr {
  margin-left: 45%;
  margin-right: 45%;
  border: 2px solid $yellow;
  margin-top: -.005em;
}

button:disabled,
button[disabled]{
  cursor: default;
}

h6 {
  font-family: Roboto, serif;
  font-size: 1rem;
  font-weight: normal;
  color: #224656;
}

.button-group {
  display: flex;
}

.button-group button {
  border-radius: 0;
}
