<div id="pop-up-window">
  <h1 mat-dialog-title>Importer une photo</h1>
  <div mat-dialog-content>
    <mat-form-field style="width: 100%!important;" class="example-full-width">
      <mat-label>À partir d'un URL</mat-label>
      <input matInput placeholder="domain.com/ressource" [(ngModel)]="data.imgURL">
    </mat-form-field>
    <p><i>ou depuis mon appareil</i></p>
    <app-image-uploader (uploaded)="onUpload($event)"></app-image-uploader>
  </div>
  <div mat-dialog-actions>
    <div *ngIf="this.data.fromWitchComponent == 'createQuestion'; else elseValidateUpload">
      <button mat-button (click)="onNoClick()" data-toggle="modal" data-target="#createQuestion">Annuler</button>
      <button mat-button [mat-dialog-close]="data.imgURL" cdkFocusInitial data-toggle="modal" data-target="#createQuestion">Enregistrer</button>
    </div>
    <ng-template #elseValidateUpload>
      <div *ngIf="this.data.fromWitchComponent == 'createAnswer'; else elseValidateUploadNothing">
        <button mat-button (click)="onNoClick()" data-toggle="modal" data-target="#createAnswer">Annuler</button>
        <button mat-button [mat-dialog-close]="data.imgURL" cdkFocusInitial data-toggle="modal" data-target="#createAnswer">Enregistrer</button>
      </div>
      <ng-template #elseValidateUploadNothing>
        <button mat-button (click)="onNoClick()">Annuler</button>
        <button mat-button [mat-dialog-close]="data.imgURL" cdkFocusInitial>Enregistrer</button>
      </ng-template>
    </ng-template>
  </div>

</div>
