<mat-expansion-panel>

  <mat-expansion-panel-header>
    <mat-panel-title>
      <h5>{{question.statement}}</h5>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <hr>

  <div *ngIf="question.image">
    <img [src]="question.image" class="rounded mx-auto d-block" height="100px" width="100px">
    <br>
  </div>


  <div class="card-text">
    <h6>Réponses :</h6>

    <mat-accordion>
      <div class="answer" *ngFor="let answer of question.answers; let i=index">
        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{i + 1}} - {{answer.statement}}  <ng-container *ngIf="answer.valid"> <i class="far fa-check-square"></i></ng-container><br>
            </mat-panel-title>

          </mat-expansion-panel-header>

          <div *ngIf="answer.image">
            <img [src]="answer.image" class="border rounded mx-auto d-block" height="100px" width="100px">
          </div>

        </mat-expansion-panel>
      </div>
    </mat-accordion>
  </div>

  <br>

  <button class="btn btn-sm btn-outline-secondary ml-auto" id="edit" (click)="edit()"><mat-icon>create</mat-icon> Editer</button>

  <button class="btn btn-sm btn-outline-danger mr-auto"  id="delete"(click)="delete()"><mat-icon>delete</mat-icon> Supprimer</button>

</mat-expansion-panel>
