<mat-expansion-panel id="expansion-panel-question" (opened)="panelOpenState = true"
                     (closed)="panelOpenState = false">

  <mat-expansion-panel-header>
    <mat-panel-title>
      <h5><strong>Question {{indexQuestion + 1}} : </strong>
        {{ question.statement }}
      </h5>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <hr>

  <div class="border rounded" id="editQuestionStatement">

    <div *ngIf="editQuestionStatement; else elseEditionQuestionStatement">
      <h6>Édition de la question : </h6>
      <form class="question-statement-form" [formGroup]="questionStatementForm">
        <mat-form-field appearance="outline">
          <mat-label>Titre de la question</mat-label>
          <input matInput placeholder="Ecrivez ici" class="input-custom" id="statement" [formControlName]="'statement'" value="{{question.statement}}" required>
        </mat-form-field>
        <hr>
        <div *ngIf="question.image" class="cadre-photo">
          <img [src]="question.image" class="rounded mx-auto d-block photoQuiz img-fluid">
        </div>
        <br>
        <div>
          <button class="btn btn-warning upload-btn" (click)="openDialogPhotoQuestion()" data-dismiss="modal" aria-label="Close"><i class="fas fa-upload"></i> Charger une image</button>
        </div>
        <br>
        <button type="submit" class="btn btn-sm btn-outline-secondary mr-auto" id="buttonEditQuestionStatement" (click)="savingEditQuestionStatementFCT()"><mat-icon>done</mat-icon> Enregistrer</button>
      </form>

    </div>

    <ng-template #elseEditionQuestionStatement>
      <h6>Question : </h6> {{ question.statement }}
      <hr>
      <div *ngIf="question.image" class="cadre-photo">
        <img [src]="question.image" class="rounded mx-auto d-block photoQuiz img-fluid">
        <br>
      </div>
      <button class="btn btn-sm btn-outline-secondary ml-auto" id="buttonSavingEditQuestionStatement" (click)="editQuestionStatementFCT()"><mat-icon>create</mat-icon> Editer</button>
    </ng-template>

  </div>

  <hr>

  <button (click)="questionToUpdateWithNewAnswerFCT(question.id)" class="btn-outline-primary btn-sm" data-toggle="modal" data-target="#createAnswer"><mat-icon>add</mat-icon> Ajouter une réponse</button>

  <hr>

  <div class="card-text">

    <mat-accordion>
      <div class="answer" *ngFor="let answer of question.answers; let i=index">
        <mat-expansion-panel id="expansion-panel-answer">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Réponse {{i + 1}} : {{answer.statement}} <ng-container *ngIf="answer.valid">(<mat-icon>done</mat-icon>)</ng-container>
            </mat-panel-title>

          </mat-expansion-panel-header>

          <div class="border rounded" id="editAnswerStatement">

            <div *ngIf="editAnswerStatement; else elseEditAnswerStatement">
              <h6>Édition de la réponse : </h6>
              <form class="answer-statement-form" [formGroup]="answerStatementForm">
                <mat-form-field appearance="outline">
                  <mat-label>Titre de la réponse</mat-label>
                  <input matInput placeholder="Ecrivez ici" class="input-custom" [formControlName]="'statement'" value="{{answer.statement}}" required>
                </mat-form-field>

                <br>

                <mat-checkbox type="checkbox" [formControlName]="'valid'" #checkboxCorrectAnswer checked="{{ question.answers[i].valid }}" required>
                  Est elle correcte ?
                </mat-checkbox>

                <hr>

                <div *ngIf="answer.image" class="cadre-photo">
                  <img [src]="answer.image" class="border rounded mx-auto d-block photoQuiz img-fluid">
                </div>
                <br>
                <div>
                  <button class="btn btn-warning upload-btn ml-auto mr-auto" (click)="witchAnswer(i)" data-dismiss="modal" aria-label="Close"><i class="fas fa-upload"></i> Charger une image</button>
                </div>
                <br>
                <button (click)="savingEditAnswerStatementFCT(i)" type="submit" class="btn btn-sm btn-outline-secondary mr-auto" id="buttonEditAnswerStatement"><mat-icon>done</mat-icon> Enregistrer</button>
              </form>

            </div>

            <ng-template #elseEditAnswerStatement>
              <h6>Réponse : </h6> {{ answer.statement }}
              <br>
              <div *ngIf="answer.valid">
                Cette réponse est juste : (<mat-icon>done</mat-icon>)
              </div>
              <div *ngIf="!answer.valid">
                Cette réponse est fausse : (<mat-icon>clear</mat-icon>)
              </div>
              <hr>
              <div *ngIf="answer.image" class="cadre-photo">
                <img [src]="answer.image" class="border rounded mx-auto d-block photoQuiz img-fluid">
              </div>
              <br>
              <button class="btn btn-sm btn-outline-secondary ml-auto" id="buttonSavingEditAnswerStatement" (click)="editAnswerStatementFCT()"><mat-icon>create</mat-icon> Editer</button>
            </ng-template>

          </div>

          <br>

          <button class="btn btn-sm btn-outline-danger mr-auto"  id="deleteAnswer"(click)="deleteAnswer(i)"><mat-icon>delete</mat-icon> Supprimer</button>

        </mat-expansion-panel>
      </div>
    </mat-accordion>

  </div>

  <br>

  <button class="btn btn-sm btn-outline-danger mr-auto"  id="delete"(click)="delete()"><mat-icon>delete</mat-icon> Supprimer</button>

</mat-expansion-panel>

