@import '../../../styles/card.scss';

#editQuestionStatement {
  background-color: white;
}

#dividerTitle {
  size: 5px;
}

#edit {
  float: right;
}

#delete {
  float: right;
}

#deleteAnswer {
  float: right;
}

mat-icon {
  vertical-align: text-bottom;
}

#expansion-panel-question {
  background-color: #f2f2f2;
}

mat-panel-title {
  max-width: 90%;
  padding-right: 10px;
  white-space:nowrap;
  text-overflow: ellipsis;
  text-overflow: "...";
}

.photoQuiz {
  width: 50%;
  border-radius: 10px;
}

.cadre-photo {
  width: 50%;
  background-color: #5BC0EB;
  padding: .5em;
  border-radius: 10px;
  border: black 1px solid;
  margin: auto;
  margin-bottom: 5px;
}

#editQuestionStatement {
  border: #1b1e21;
  padding: 5px;
  margin-bottom: 5px;
}

.border{
  border: #1b1e21;
  border-width: 2px;
}

#editAnswerStatement {
  background-color: #f2f2f2;
  border: #1b1e21;
  padding: 5px;
  margin-bottom: 5px;
}


