@import '../../../styles/card.scss';

#dividerTitle {
  size: 5px;
}

#edit {
  float: right;
}

#delete {
  float: right;
}

mat-icon {
  vertical-align: text-bottom;
}

#expansion-panel-question {
  background-color: #f2f2f2;
}
