
.patient {
  float: left;
  height: 100%;
  width: 20%;
  max-width: 20%;
  margin-top : 6%;
  margin-right: 5%;
  cursor: pointer;
}

.card {
  width: 20%;
  max-width: 20%;
  margin-top : 6%;
  margin-right: 5%;
}

.img-thumbnail {
  cursor: pointer;
  width: 15vw;
  height: 15vw;
  border-radius: 2000px;
  border: 2px solid yellow;
  object-fit: cover;
  margin: auto;
}

button {
  width: 100%;
  background-color: transparent;
  border: none;
  font-size: large;
  font-weight: bolder;
}
