<h1>Création de Quiz</h1>
<hr>
<br>

<form [formGroup]="quizForm">
  <div class="container">
    <div class="row">

      <div class="col-sm">

        <div class="form-group photo-form">
          <div id="cadre-photo">
            <img ondragstart="return false;" id="photoQuiz" [src]="photoURL">
          </div>
          <br>
          <div>
            <button class="btn btn-warning upload-btn" (click)="openDialogPhoto()"><i class="fas fa-upload"></i> Charger une image</button>
          </div>
        </div>

      </div>

    <div class="col-sm">
      <div class="form-group">

        <label class="col-form-label" for="quizName">Titre</label>
        <input type="text" class="form-control" placeholder="Nom du quiz" id="quizName" [formControlName]="'name'" required>

        <label class="col-form-label" for="exampleTextarea">Description du quiz</label>
        <textarea [formControlName]="'theme'" class="form-control" id="exampleTextarea" rows="3" placeholder="Description du quiz" required></textarea>


        <label class="col-form-label">Patient</label>
        <div style="height: 200px; overflow: auto;">
          <mat-selection-list [(ngModel)]="selectedPatients" (ngModelChange)="onNgModelChange($event)" [ngModelOptions]="{standalone: true}">
            <mat-list-option *ngFor="let p of patientList" [value]="p">
              {{this.patientService.getNameString(p)}}
            </mat-list-option>
          </mat-selection-list>
        </div>
        <br>
        <span *ngFor="let p of selectedPatients"><span class="patientSelectedTag">{{this.patientService.getNameString(p)}}</span>&nbsp; </span>


      </div>
    </div>
  </div>
    <button type="submit" class="btn btn-info" style="float: right; margin-top: 1em" (click)="addQuiz()">Editer les questions</button>
</div>

</form>
