h1 {
  text-align: center;
}

.photo-form {
  width: 300px;
  height: 300px;
  border: black 1px solid;
  border-radius: 10px;
}

.camera-form {
  font-size: 3em;
  color: aliceblue;
  float: right;
  margin-top: 216px;
  border-top: black 1px solid;
  border-left: black 1px solid;
  border-top-left-radius: 10px;
  padding: 10px;
}

#photoQuiz {
  width: 298px;
}
