<h1>Création de Quiz</h1>
<hr>
<br>

<form [formGroup]="quizForm">
  <div class="container">
    <div class="row">

      <div class="col-sm">

        <div class="form-group photo-form">
          <div id="cadre-photo">
            <img id="photoQuiz" [src]="photoURL">
          </div>
          <br>
          <div>
            <button class="btn btn-warning upload-btn" (click)="openDialogPhoto()"><i class="fas fa-upload"></i> Charger une image</button>
          </div>
        </div>

      </div>

    <div class="col-sm">
      <div class="form-group">

        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label class="col-form-label">Titre</mat-label>
          <input matInput type="text" class="form-control" placeholder="Nom du quiz" id="quizName" [formControlName]="'name'" required>
        </mat-form-field>

        <mat-form-field class="full-width-input" appearance="fill">
          <mat-label class="col-form-label">Description</mat-label>
          <textarea matInput [formControlName]="'theme'" class="form-control" id="exampleTextarea" rows="3" placeholder="Description du quiz" required></textarea>
        </mat-form-field>

        <label class="col-form-label" for="patientId">Patient</label>

        <div class="input-group mb-3">
          <div class="custom-file">
            <select class="custom-select" id="patientId" (change)="selected($event)" formControlName="">
              <option value="" disabled>Choisir un patient</option>
              <option *ngFor="let p of patientList" [ngValue]="p.id" >{{p.firstName}} {{p.lastName}}</option>
              <option value="ALL">Tous les patients</option>
            </select>
            <div class="input-group-append">
              <button style="margin-left: .75em" class="btn btn-info" (click)="selectPatientSup()">+</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
    <button type="submit" class="btn btn-info" style="float: right; margin-top: 1em" (click)="addQuiz()">Editer les questions</button>
</div>

</form>
