<form class="quiz-form" [formGroup]="questionForm">

  <mat-tab-group>
    <mat-tab label="Question">
      <br>

      <label for="statement">
        <mat-form-field appearance="outline">
          <mat-label>Titre de la question</mat-label>
          <input matInput placeholder="Ecrivez ici" class="input-custom" id="statement" [formControlName]="'statement'" required>
        </mat-form-field>
      </label>

      <br>

      <label>
        <div class="form-group photo-form">
          <div id="cadre-photo">
            <img id="photoQuiz" [src]="photoURL">
          </div>
          <br>
          <div>
            <button class="btn btn-warning upload-btn" (click)="openDialogPhotoQuestion()" data-dismiss="modal" aria-label="Close"><i class="fas fa-upload"></i> Charger une image</button>
          </div>
        </div>
      </label>

    </mat-tab>



    <mat-tab label="Réponses">
      <br>
      <button class="btn-outline-primary btn-sm" (click)="addAnswer()"><mat-icon>add</mat-icon> Ajouter une réponse</button>

      <div class="answer" formArrayName="answers">
        <div *ngIf="answers.length > 0">
          <hr>
        </div>

        <mat-accordion>
          <div *ngFor="let address of answers.controls; let i=index">

            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div *ngIf="inputStatement.value.length > 0; else elseBlockTitleAnswer">
                    <div *ngIf="checkboxCorrectAnswer.checked; else elseBlockTitleAnswer2">
                      Réponse {{ i + 1 }} : {{inputStatement.value}} <mat-icon>done</mat-icon>
                    </div>
                    <ng-template #elseBlockTitleAnswer2>Réponse {{ i + 1 }} : {{inputStatement.value}}</ng-template>
                  </div>
                  <ng-template #elseBlockTitleAnswer>Réponse {{ i + 1 }}</ng-template>
                </mat-panel-title>
              </mat-expansion-panel-header>

            <div class="answer-form" [formGroupName]="i">

                <mat-form-field appearance="outline">
                  <mat-label>Intitulé de la réponse</mat-label>
                  <input matInput placeholder="Ecrivez ici" [formControlName]="'statement'" #inputStatement required>
                </mat-form-field>

              <br>

              <mat-checkbox type="checkbox" [formControlName]="'valid'" #checkboxCorrectAnswer required>
                Est elle correcte ?
              </mat-checkbox>

                <br>

                <div class="form-group photo-form">
                  <div id="cadre-photo2">
                    <img id="photoAnswers" [src]="photoURLAnswers[i]">
                  </div>

                  <br>

                  <div>
                    <button class="btn btn-warning upload-btn" (click)="witchAnswer(i)" data-dismiss="modal" aria-label="Close"><i class="fas fa-upload"></i> Charger une image</button>
                  </div>
                </div>

              <br>
              <button class="btn-outline-danger btn-sm" (click)="deleteAnswer(i)" id="deleteAnswer">
                <mat-icon>delete</mat-icon> Supprimer
              </button>
              <br>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>

    </mat-tab>
  </mat-tab-group>

  <hr>

  <button type="submit" class="button-card" (click)="addQuestion()" data-dismiss="modal" aria-label="Close">Créer</button>

</form>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
