<form class="quiz-form" [formGroup]="questionForm">

  <mat-accordion>
    <mat-expansion-panel>

      <mat-expansion-panel-header>
        <mat-panel-title>
          Question
        </mat-panel-title>
      </mat-expansion-panel-header>

      <label for="statement">
        <mat-form-field appearance="outline">
          <mat-label>Titre de la question</mat-label>
          <input matInput placeholder="Ecrivez ici" class="input-custom" id="statement" [formControlName]="'statement'" required>
        </mat-form-field>
      </label>

      <br>

      <label for="image">
        <mat-form-field appearance="outline">
          <mat-label>URL illustration (optionnel)</mat-label>
          <input matInput placeholder="Ecrivez ici" class="input-custom" id="image" [formControlName]="'image'">
        </mat-form-field>
      </label>

    </mat-expansion-panel>



    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Réponses
        </mat-panel-title>
      </mat-expansion-panel-header>

      <button class="btn-outline-primary btn-sm" (click)="addAnswer()"><mat-icon>add</mat-icon> Ajouter une réponse</button>

      <div class="answer" formArrayName="answers">
        <div *ngIf="answers.length > 0">
          <hr>
        </div>

        <mat-accordion>
          <div *ngFor="let address of answers.controls; let i=index">

            <mat-expansion-panel>

              <mat-expansion-panel-header>
                <mat-panel-title>
                  Réponse {{ i + 1 }}
                </mat-panel-title>
              </mat-expansion-panel-header>

            <div class="answer-form" [formGroupName]="i">

                <mat-form-field appearance="outline">
                  <mat-label>Intitulé de la réponse</mat-label>
                  <input matInput placeholder="Ecrivez ici" [formControlName]="'statement'" required>
                </mat-form-field>

                <br>

                <mat-form-field appearance="outline">
                  <mat-label>Ajouter l'URL d'une illustration (optionnel)</mat-label>
                  <input matInput placeholder="Ecrivez ici" class="input-custom" id="image2" [formControlName]="'image'">
                </mat-form-field>

                <br>

                <mat-checkbox type="checkbox" [formControlName]="'valid'" required>
                  Est elle correcte ?
                </mat-checkbox>
              <br>
              <button class="btn-outline-danger btn-sm" (click)="deleteAnswer(i)" id="deleteAnswer">
                <mat-icon>delete</mat-icon> Supprimer
              </button>
              <br>
              </div>
            </mat-expansion-panel>
          </div>
        </mat-accordion>
      </div>

    </mat-expansion-panel>
  </mat-accordion>

  <hr>

  <button type="submit" class="button-card" (click)="addQuestion()">Créer</button>

</form>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
