<div class="card rounded p-2">
  <h3>Créer une nouvelle question</h3>
  <hr>
  <form class="quiz-form" [formGroup]="questionForm">
    <label for="statement">
      <b>Titre de la question : </b><br>
      <input class="input-custom" type="text" id="statement" [formControlName]="'statement'">
    </label>
    <br>
    <button class="button-card btn-sm" (click)="addAnswer()"> + Ajouter une réponse</button>
    <div class="answer" formArrayName="answers">
      <div *ngIf="answers.length > 0">
        <hr>
        <b>Réponses : </b><br>
      </div>
      <div *ngFor="let address of answers.controls; let i=index">
        <div class="answer-form border rounded p-2" [formGroupName]="i">
          <label>
            <b>Réponse {{ i + 1 }}</b>
            <br>
            Intitulé de la réponse :
            <input type="text" [formControlName]="'statement'">
            <br>
            <b>Est elle correcte ? </b>
            <input type="checkbox" [formControlName]="'valid'">
          </label>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <button type="submit" class="button-card" (click)="addQuestion()">Créer</button>
  </form>
</div>

<!-- Uncomment below to see your form structure and how it changes-->
<!-- <br><br>{{quizForm.getRawValue() | json}} -->
