.middle-screen{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


div {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */
}
