<ng-container id="container" *ngIf="patient">
  <div id="patient">
    <img id="patient-photo" src="{{this.patient.photo}}" alt="patientPhoto"/>
    <p *ngIf="this.option == 'launch'" class="patient-name">Lancer un quiz
      pour {{this.patient.firstName}} {{this.patient.lastName}}</p>
    <p *ngIf="this.option == 'update'" class="patient-name">Modifier un quiz
      pour {{this.patient.firstName}} {{this.patient.lastName}}</p>
  </div>

  <div class="patient-list" *ngFor="let q of quizList" @fade>
    <app-quiz-card [patientId]="this.patientId" [quiz]="q"></app-quiz-card>
  </div>

  <p *ngIf="this.quizList.length == 0" @fade class="centered">Pas encore de quiz pour ce patient...<br><br>
    <button class="btn btn-success" routerLink="/quiz/create"><i class="fas fa-plus"></i> &nbsp; Créer un quiz</button><br><br>
    <button class="btn btn-warning" routerLink="/patients/manage"><i class="fas fa-users"></i> &nbsp; Gérer les patients</button>
  </p>
</ng-container>
