<ng-container id="container" *ngIf="patient">
<div id="patient">
  <img id="patient-photo" src="{{this.patient.photo}}" alt="patientPhoto"/>
  <p *ngIf="this.option == 'launch'" class="patient-name">Lancer un quiz pour {{this.patient.firstName}} {{this.patient.lastName}}</p>
  <p *ngIf="this.option == 'update'" class="patient-name">Modifier un quiz pour {{this.patient.firstName}} {{this.patient.lastName}}</p>
</div>

<div class="patient-list" *ngFor="let q of quizList">
  <app-quiz-card [patientId]="this.patientId" [quiz]="q"></app-quiz-card>
</div>

<p *ngIf="this.quizList.length == 0" class="centered">Pas encore de quiz pour ce patient...
  <br />
  <br />
<button class="btn btn-warning" routerLink="/patients/manage">Gérer les patients</button>
</p>
</ng-container>
