<div id="pop-up-window">
  <h1 mat-dialog-title>Vous voulez vraiment supprimer ce quiz ?</h1>

  <div mat-dialog-content>
    Le quiz : <b>{{this.data.quiz.name}}</b>
  </div>

  <div mat-dialog-actions>

    <button id="delete-button" type="button" class="btn btn-danger" style="float: right; margin-top: 1em" data-dismiss="modal" aria-label="Close" (click)="deleteYes()">
      Oui
    </button>
    <button id="update-button" type="submit" class="btn btn-info" style="float: right; margin-top: 1em" (click)="deleteNo()" data-dismiss="modal" aria-label="Close">
      Non
    </button>
  </div>
</div>
