<div class="question-list">
    <div class="container">
      <mat-accordion>
        <div class="question" *ngFor="let question of quiz.questions; let indexQuestion = index">
          <!--Inputs & Output allow communication between parent & child components.-->
          <!--More information: https://angular.io/guide/component-interaction-->

            <app-question [question]="question" [indexQuestion]="indexQuestion" (deleteQuestion)="deleteQuestion($event)" (updateQuestionEmit)="updateQuestionEmit($event)" (updateAnswerEmit)="updateAnswerEmit($event)" (questionContainsTheNewAnswerEmit)="questionContainsTheNewAnswerEmit($event)" (answerDelete)="answerDelete($event)"></app-question>
        </div>
      </mat-accordion>
    </div>
</div>
