<form [formGroup]="updateQuizForm">
  <div class="container">
    <div class="row">

      <div class="col-sm">

        <div class="form-group photo-form">
          <div id="cadre-photo">
            <img id="photoQuiz" [src]="photoURL">
          </div>
          <br>
          <div>
            <button class="btn btn-warning upload-btn" data-dismiss="modal" aria-label="Close" (click)="openDialogPhoto()"><i class="fas fa-upload"></i> Charger une image</button>
          </div>
        </div>

      </div>

      <div class="col-sm">
        <div class="form-group">

          <label class="col-form-label" for="quizName">Titre</label>
          <input type="text" class="form-control" placeholder="Nom du quiz" id="quizName" [formControlName]="'name'" value="{{this.quiz.name}}" required>
        </div>

        <div class="form-group">
          <mat-form-field>
            <mat-label class="col-form-label">
              Description <i>(optionnel)</i>
            </mat-label>
            <textarea matInput cdkTextareaAutosize type="text" class="form-control" id="exampleTextarea" rows="3" [formControlName]="'theme'" placeholder="Description du quiz" value="{{this.quiz.theme}}"></textarea>
          </mat-form-field>
        </div>

        <!--
        <div class="form-group">
          <label class="col-form-label" for="patientId">Patient</label>

          <div class="input-group mb-3">
            <div class="custom-file">
              <select class="custom-select" id="patientId" (change)="selected($event)">
                <option value="" disabled>Choisir un patient</option>
                <option *ngFor="let p of patientList" [ngValue]="p.id" [selected]="p.quizzesId.includes(quiz.id)">{{p.firstName}} {{p.lastName}}</option>
                <option value="ALL">Tous les patients</option>
              </select>
              <div class="input-group-append">
                <button style="margin-left: .75em" class="btn btn-info" (click)="selectPatientSup()">+</button>
              </div>
            </div>
          </div>

        </div>
        -->
      </div>
    </div>

    <button type="submit" class="btn btn-info" style="float: right; margin-top: 1em" (click)="updateQuiz()" data-dismiss="modal" aria-label="Close">Mettre à jour</button>
    <button type="button" class="btn btn-danger" style="float: right; margin-top: 1em" data-dismiss="modal" aria-label="Close" (click)="deleteQuiz()">
      Supprimer le quiz
    </button>
  </div>

</form>
