.photo-form {
  margin-top: 2vh;
}

#cadre-photo {
  width: 100%;
  background-color: #5BC0EB;
  padding: .5em;
  border-radius: 10px;
  border: black 1px solid;
  margin: auto;
}

#photoQuiz {
  width: 100%;
  border-radius: 10px;
}

.upload-btn {
  display: block;
  margin: auto;
}

#delete-button, #update-button {
  width: 50%;
}

#update-button {
  border-radius: 0 0 0 0.25rem;
  border-right: 1px solid white;
}

#delete-button {
  border-radius: 0 0 0.25rem 0;
}

.full-width-input {
  width: 100%;
}

textarea {
  resize: none;
}


