<form [formGroup]="updateQuizForm">
  <div class="container">
    <div class="row">

      <div class="col-sm">

        <div class="form-group photo-form">
          <div id="cadre-photo">
            <img id="photoQuiz" [src]="photoURL">
          </div>
          <br>
          <div>
            <button class="btn btn-warning upload-btn" data-dismiss="modal" aria-label="Close" (click)="openDialogPhoto()"><i class="fas fa-upload"></i> Charger une image</button>
          </div>
        </div>

      </div>

      <div class="col-sm">
        <div class="form-group">
          <label class="col-form-label" for="quizName">Titre</label>
          <input type="text" class="form-control" placeholder="Nom du quiz" id="quizName" [formControlName]="'name'" value="{{this.quiz.name}}" required>
        </div>

        <mat-form-field class="full-width-input" appearance="fill" id="description">
          <mat-label class="col-form-label">Description</mat-label>
          <textarea matInput cdkTextareaAutosize type="text" [formControlName]="'theme'" class="form-control" rows="3" placeholder="Description du quiz" value="{{this.quiz.theme}}" required></textarea>
        </mat-form-field>
      </div>
    </div>

    <button id="delete-button" type="button" class="btn btn-danger" style="float: right; margin-top: 1em" data-dismiss="modal" aria-label="Close" (click)="deleteQuiz()">
      Supprimer le quiz
    </button>
    <button id="update-button" type="submit" class="btn btn-info" style="float: right; margin-top: 1em" (click)="updateQuiz()" data-dismiss="modal" aria-label="Close">Mettre à jour</button>
  </div>

</form>
