<form class="answer-form" [formGroup]="answerForm">

  <div class="intitule">
    <mat-form-field class="full-width" appearance="outline">
      <mat-label>Intitulé de la réponse</mat-label>
      <input matInput placeholder="Ecrivez ici" [formControlName]="'statement'" #inputStatement required>
    </mat-form-field>
  </div>

  <div class="mat-checkbox">
    <mat-checkbox type="checkbox" [formControlName]="'valid'" #checkboxCorrectAnswer required>
    Est elle correcte ?
    </mat-checkbox>
  </div>

    <div class="form-group photo-form img-fluid">
      <div id="cadre-photo">
        <img class="img-fluid" ondragstart="return false;" id="photoAnswers" [src]="photoURLAnswer">
      </div>

      <div class="centered">
        <button class="btn btn-warning upload-btn" (click)="openDialogPhotoAnswer()" data-dismiss="modal" aria-label="Close">
          <i class="fas fa-upload"></i> Charger une image
        </button>
      </div>
    </div>

  <button id="create-button" type="submit" class="button-card" (click)="addAnswer()" data-dismiss="modal" aria-label="Close">Créer</button>

</form>
