<div class="card" ondragstart="return false;">

  <label for="{{this.quiz.id}}">
  <img *ngIf="this.quiz.image" src="{{this.quiz.image}}" alt="quiz image"/>
  <img *ngIf="!this.quiz.image" src="assets/quiz.jpeg" alt="quiz image"/>
  </label>
  <div>
    <a *ngIf="this.option == 'launch'" routerLink="/quiz/show/{{this.patientId}}/{{this.quiz.id}}" routerLinkActive="active">
      <button id="{{this.quiz.id}}">{{this.quiz.name}}</button>
    </a>
    <a *ngIf="this.option == 'update'" routerLink="/quiz/edit/{{this.quiz.id}}" routerLinkActive="active">
      <button id="{{this.quiz.id}}">{{this.quiz.name}}</button>
    </a>
  </div>
</div>
