.card {
  width: 20%;
  max-width: 20%;
  max-height: 400px;
  margin-top : 6%;
  margin-right: 5%;
  float: left;
  height: 100%;
}


button {
  width: 100%;
  background-color: white;
  border: none;
  font-size: large;
  font-weight: bolder;
  padding : 4px;
  padding-top: 0;
  padding-bottom: 8px;
}
