<div class="menu-body p-4">
  <div class="row mb-4">
    <div class="col-12 col-md-6 text-center my-2 my-md-0">
      <app-logo class="w-100"></app-logo>
    </div>
    <div class="col-12 col-md-6 text-md-right">
      <a routerLink="/quiz/show/2">
        <button class="btn btn-warning btn-start w-100">Lancer un quiz</button>
      </a>
    </div>
  </div>

  <div class="row mb-4">
    <div class="offset-0 offset-md-6 col-12 col-md-6 text-md-right">
      <a routerLink="/">
        <button class="btn btn-success btn-manage w-100">Gestion patients</button>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-6 text-md-left my-2 my-md-0">
      <a routerLink="/quiz/create" routerLinkActive="active">
        <button class="btn btn-danger btn-create w-100">Créer un quiz</button>
      </a>
    </div>
    <div class="col-12 col-md-6 text-md-right">
      <button class="btn btn-danger btn-modify w-100">Modifier un quiz</button>
    </div>
  </div>

</div>
