@import '../../styles/variables.scss';
//body {
//  background: #0c5460;
//  background-image: url("../../assets/logo.svg") !important;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}



.menu-body{
  margin: auto auto;
  width: 65%;
  background: #5BC0EB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: $dark-blue 2px solid;
}

.menu-body .btn{
  font-weight: bolder;
  color: $dark-blue;
  border: $dark-blue 2px solid;
}

@media screen and (max-width: 800px) {
  .menu-body{
    width: 80%;
  }
}
