@import '../../styles/variables.scss';
//body {
//  background: #0c5460;
//  background-image: url("../../assets/logo.svg") !important;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//}

<<<<<<< HEAD
=======

.background{
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url("src/assets/axiom-pattern.png");
  background-color: #224656;
}


>>>>>>> ee3b1237ae171e64e60027b82005b905c1ef208c
.menu-body{
  margin: auto auto;
  width: 65%;
  background: #5BC0EB;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: $dark-blue 2px solid;
}

.menu-body .btn{
  font-weight: bolder;
  color: $dark-blue;
  border: $dark-blue 2px solid;
}

@media screen and (max-width: 800px) {
  .menu-body{
    width: 80%;
  }
}
