<div class="patient-list">


  <app-patient [patient]="patientList[0]"></app-patient>
  <app-patient [patient]="patientList[1]"></app-patient>
  <app-patient [patient]="patientList[0]"></app-patient>
  <app-patient [patient]="patientList[1]"></app-patient>
  <app-patient [patient]="patientList[0]"></app-patient>
  <app-patient [patient]="patientList[1]"></app-patient>
  <app-patient [patient]="patientList[0]"></app-patient>
  <app-patient [patient]="patientList[1]"></app-patient>
  <app-patient [patient]="patientList[0]"></app-patient>
  <app-patient [patient]="patientList[1]"></app-patient>
  <app-patient [patient]="patientList[0]"></app-patient>
  <app-patient [patient]="patientList[1]"></app-patient>
</div>
