@import '../../app.component.scss';

html, body { height: 100%; }

.patient-list {
  width: 80%;
  height: 100%;
  margin-left: 13%;
  flex-wrap: wrap;
  background-color: #1b1e21;
}

.centered {
  text-align: center;
  margin: 10%;
}
