<div class="container mr-auto">
  <div class="row">
    <div class="col-sm-auto">
      <button class="button-card" routerLink="/"> < Retour </button>
    </div>
    <div class="col-sm-auto">
      <h1>Édition du quiz</h1>
    </div>
  </div>
</div>

<hr>

<ng-container *ngIf="quiz">

    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card rounded p-2">
            <div class="card-body">
              <h2 class="card-title">{{quiz.name}}</h2>
              <hr>
              <p class="card-text"><app-question-list [quiz]="quiz"></app-question-list></p>
            </div>
          </div>
        </div>
        <div class="col">
          <app-question-form [quiz]="quiz"></app-question-form>
        </div>
      </div>
    </div>
</ng-container>
